.about {
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
  padding: 80px 0;
  width: 100%;

  @include laptop {
    flex-flow: row;
    padding: 150px 8%;
  }
}

.about-text-wrapper {
  margin: 0 auto;
  width: 80%;

  @include tablet {
    width: 80%;
  }

  @include laptop {
    margin: 0;
    margin-right: 100px;
    width: 40%;
  }
}

.about-image img {
  height: auto;
  margin-top: 50px;
  width: 100%;

  @include laptop {
    margin-top: 0;
    height: 300px;
    width: auto;
  }
}