.footer {
  align-items: center;
  background: $navy;
  display: flex;
  // height: 100vh;
  margin: 0 auto;
  padding: 500px 0;
  position: relative;
  width: 100%;
}

@media (min-width: $tablet-bp) {
  .footer {
    height: 100vh;
  }
}

.footer-wrapper {
  align-items: center;
  // background: yellow;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
  // padding-top: 150px;
  text-align: center;
  width: 80%;
}

@media (min-width: $tablet-bp) {
  .footer-wrapper {
    width: 700px;
  } 
}

.footer-wrapper header {
  margin: 0 auto;
  text-align: center;
}

.footer-wrapper h1 {
  margin-bottom: 50px;
}

.footer-wrapper p {
  color: #ccc;
  line-height: 10px;
  margin: 0;
  padding: 10px 0;
}

.footer-wrapper p a {
  color: #ccc;
}

.credits {
  background: $blue;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 12px;
  overflow: hidden;
  padding: 100px 0;
  position: absolute;
  width: 100%;
}

.credits-wrapper {
  align-items: center;
  // background: yellow;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: $tablet-bp) {
  .credits-wrapper {
    flex-flow: row;
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
  }
}

.footer-wrapper p a {
  color: #ccc;
  margin: 0 20px;
  transition: all 180ms ease-in-out;
}
.footer-wrapper p a:hover {
  color: darken(#ccc, 20%);
}

#Ellipse_1 {
  fill: #fff;
}
#Path_19 {
  fill: $blue;
  transition: all 180ms ease-in-out;
}
#Ellipse_1:hover ~ #Path_19 {
  fill: darken($blue, 20%);
}

.designer a {
  color: #fff;
  transition: all 180ms ease-in-out;
}
.designer a:hover {
  color: darken(#fff, 20%);
}

#facebook {
  margin: 30px 0;
}

@media (min-width: $tablet-bp) {
  #facebook {
    margin: 0;
  }
}