.footer {
  align-items: center;
  background: color(navy);
  display: flex;
  margin: 0 auto;
  padding: 500px 0;
  position: relative;
  width: 100%;

  @include tablet {
    height: 100vh;
  }
}

.footer-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 80%;

  @include tablet {
    width: 70rem;
  }

  header {
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin-bottom: 50px;
  }

  p {
    color: #ccc;
    line-height: 10px;
    margin: 0;
    padding: 10px 0;

    a {
      color: #ccc;
      margin: 0 20px;
      @extend %transition;

      &:hover {
        color: darken(#ccc, 20%);
      }
    }
  }
}

.credits {
  background: color(blue);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

.credits-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  @include tablet {
    flex-flow: row;
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
  }
}

#Ellipse_1 {
  fill: #fff;
}
#Path_19 {
  fill: color(blue);
  @extend %transition;
}
#Ellipse_1:hover ~ #Path_19 {
  fill: darken(color(blue), 20%);
}

.privacy a {
  color: #fff;
  @extend %transition;
}

.privacy a:hover {
  color: darken(#fff, 20%);
}

#facebook {
  margin: 30px 0;

  @include tablet {
    margin: 0;
  }
}