.form {
  // background: lightblue;
  margin: 0 auto;
  // margin-top: 80px;
  padding: 80px 0;
  width: 90%;
}

@media (min-width: $laptop-bp) {
 .form {
   width: 80%;
 } 
}

input, textarea {
  font-size: 12px;
}
@media (min-width: $laptop-bp) {
  input, textarea {
    font-size: 16px;
  }
}

input[type=text], select, textarea {
  background: #fff;
  border: none;
  color: #000;
  // font-size: 16px;
  width: 100%;
  padding: 18px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: none;
}

input[type=tel], input[type=email] {
  background: #fff;
  border: none;
  color: #000;
  // font-size: 16px;
  // display: inline-block;
  margin-top: 6px; 
  margin-bottom: 16px; 
  padding: 18px;

}

.contact-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media (min-width: $laptop-bp) {
  .contact-info {
    flex-flow: row;
  } 
}

input[type=tel] {
  width: 100%;
}
input[type=email] {
  width: 100%;
}
@media (min-width: $laptop-bp) {
  input[type=tel] {
    width: 35%;
  }
}
@media (min-width: $laptop-bp) {
  input[type=email] {
    width: 60%;
  }
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background: $blue;
  border: none;
  // border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: $font-md;
  margin-top: 30px;
  padding: 13px 40px;
  text-decoration: none;
  transition: all 180ms ease-in-out;
  width: 100%;
  -webkit-appearance: none;
}
input[type="submit"]:hover {
  @extend %hover;
}