.form {
  margin: 0 auto;
  padding: 80px 0;
  width: 90%;

  @include laptop {
    width: 80%;
  }
}

input, textarea {
  font-size: 1.2rem;

  @include laptop {
    font-size: 1.6rem;
  }
}

input[type=text], select, textarea {
  background: #fff;
  border: none;
  color: #000;
  width: 100%;
  padding: 1.8rem; 
  margin-top: 6px; 
  margin-bottom: 1.6rem; 
  resize: none;
}

input[type=tel], input[type=email] {
  background: #fff;
  border: none;
  color: #000;
  margin-top: 6px; 
  margin-bottom: 16px; 
  padding: 18px;
}

.contact-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include laptop {
    flex-flow: row;
  }
}

input[type=tel] {
  width: 100%;

  @include laptop {
    width: 35%;
  }
}
input[type=email] {
  width: 100%;

  @include laptop {
    width: 60%;
  }
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background: color(blue);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: $font-md;
  margin-top: 30px;
  padding: 13px 40px;
  text-decoration: none;
  @extend %transition;
  width: 100%;
  -webkit-appearance: none;

  &:hover {
    @extend %hover;
  }
}