.hero {
  align-items: center;
  display: flex;
  height: 91vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;

  @include tablet {
    background: url('../../poster.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

video {
  overflow: hidden;
  position: relative;
  z-index: -1;

  @include tablet {
    display: none;
  }
}

.hero-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 250px;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  width: 80%;
  z-index: 2;

  @include tablet {
    width: 70%;
  }

  @include laptop {
    height: 300px;
    width: 50%;
  }

  @include desktop {
    width: 45%;
  }
}

.overlay {
  background: #20354e;
  opacity: .95;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  left: 0;
  z-index: 1;
}