.navbar {
  align-items: center;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;

  @include tablet {
    padding: 0 8%;
  }
}

nav {
  display: flex;

  li {
    list-style: none;

    a {
      color: #000;
      font-weight: 500;
      font-size: 10px;
      list-style: none;
      margin-left: 35px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: color(grey);
      }

      @include tablet {
        font-size: 1.2rem;
      }

      @include laptop {
        font-size: 1.4rem;
      }
    }
  }
}