.quotes {
  background: lightblue;
  height: 400px;
  width: 100%;
}

.card {
  background: $blue;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.card_part {
  color: #fff;
  position: absolute;
  z-index: 7;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  transform: translateX(100vw);
  animation: opaqTransition 15s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part h3 {
  font-weight: $font-lt;
  line-height: 1.7;
  width: 80%;
}
@media (min-width: 768px) {
  .card_part h3 {
    width: 50%;
  }
}

.author {
  margin-top: 50px;
}


.card_part.card_part-two {
  // z-index: 6;
  animation-delay: 5s;

}

.card_part.card_part-three {
  // z-index: 5;

  animation-delay: 10s;
}




@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  40% { transform: translateX( -100vw ); }
  100% { transform: translateX( -100vw ); }
}