html {
  font-size: 62.5%;
}

body {
  font-family: 'Product Sans', helvetica, sans-serif;
  font-size: $xs-size;
  font-weight: $font-lt;
}

%hover {
  background: darken(color(blue), 20%);
}

%transition {
  transition: all 180ms ease-in-out;
}

h1 {
  color: #fff;
  font-size: $m-size;
  font-weight: $font-md;

  @include tablet {
    font-size: $l-size;
  }
  
  @include laptop {
    font-size: $xl-size;
  }
}

h2 {
  color: color(navy);
  font-size: $s-size; 
  font-weight: $font-md;
  margin-bottom: 50px;

  @include tablet {
    font-size: $m-size;
  }

  @include desktop {
    font-size: $l-size;
  }
}

h3 {
  color: #fff;
  font-size: $xs-size;
  font-weight: $font-lt;
  line-height: 1.5;

  @include laptop {
    font-size: $s-size;
  }

  @include desktop {
    font-size: $m-size;
  }
}

p {
  color: color(grey);
  font-size: 1.2rem;
  font-weight: $font-lt;
  line-height: 1.5;
  margin-bottom: 25px;

  @include tablet {
    font-size: $xs-size;
  }
}

.primary-cta {
  background: color(blue);
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: $font-md;
  padding: 8px 30px;
  text-decoration: none;
  @extend %transition;

  &:hover {
    @extend %hover;
  }

  @include tablet {
    padding: 13px 40px;
  }

  @include laptop {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
}