// Typography
@font-face {
  font-family: 'Product Sans';
  src: url('ProductSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('ProductSans-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

// Font weight
$font-lt: 300;
$font-md: 600;

// Spacing
$xs-size: 1.6rem;
$s-size: 1.8rem;
$m-size: 2.6rem;
$l-size: 4.4rem;
$xl-size: 6.5rem;


// Color
$colors: (
  blue: #51a6eb,
  navy: #183650,
  grey: #444,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Breakpoints
$tablet: 37.5rem;
$laptop: 60rem;
$desktop: 90rem;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}


